
html{
 widows: 1950px;
 margin:15px;   
 background-image:url("image/libra-zodiac-sign-abstract-night-sky-background-royalty-free-image-1568910403.jpg") ;
 background-size: cover;
 background-attachment: fixed;
 background-repeat: no-repeat;
    overflow: auto;
}
body {
    width: 1750px;
    margin: 0px;
    padding-left: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(151, 217, 255);
    font-weight: bold;
    font-size: 25px;
    font-style:italic;
    text-shadow: 2px 2px rgb(28, 28, 165);
    scroll-behavior: smooth;
    
    }
    .horoscope{
       text-align: right; 
       border: 2px solid;
       padding: 20px;
    
    }
    
    h1,h3 {    
        margin-top: 100px;
        font-size: larger;
        text-align: left;
        text-decoration: underline;
        text-transform: uppercase;
}
   h2{
       margin-top: 120px;
       margin-bottom: 30px;
       text-align: left;
       text-decoration: underline;
   }
   li,header{
    color: rgb(191, 221, 248);
    display:inline;
    text-align:left;
     }

header,title,footer{
    border-radius: 15%;
    }
ul{
    display: inline;
}
.h1{
    display: inline;
    margin-right: 200px;
}
a{
    color: rgb(191, 221, 248);
    text-decoration: none;
    padding-left: 5px;
    

}
table,td{
    margin-right: 15px;
    padding-left: 25px;
    border-width: 5px 2px 2px 2px;
    border-color: rgb(9, 12, 187);
    text-align: center;
    border-style: groove;
}